<div class="jumbotron jumbotron-fluid my-0 cover__background" [ngStyle]="{'background-image': getCover()}">
    <div class="container">
      <div class="title__section">
        <h1 class="text-warning">{{_themeService.data.productHeading ? _themeService.data.productHeading : "Our Best Products"}}</h1>
    </div>
    </div>
  </div>
<!-- Product Section -->
<section class="jumbotron jumbotron-fluid my-0 bg-transparent" data-aos="fade-up">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" data-aos="zoom-in">
            <ng-container *ngFor="let product of _themeService?.products;">
              <app-product-card [product]="product"></app-product-card>
            </ng-container>
        </div>
    </div>
</section> 